extends layout.pug

block content
  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Jessie Dobson

        p Full Stack JavaScript Developer

        .about-bio
          p I'm a life-long learner with an abundance of curiousity. I love reading, legos, soccer (USWNT), college football and basketball (Go Hokies!), Fallout4, spending time with my family, and of course, coding. 

          p After years of casually learning JavaScript, I started getting serious while working as a UI designer on a software team. I was introduced to pull requests, Angular, and various QA methods, and fell in love. 

          p I'm self-motivated, passionate, and determined. I'd like to change careers and do programming professionally. Until then, you can find me coding personal projects and learning new things. 


      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Angular
          li Git and GitHub
          li VS Code
          li SQL/PostGreSQL
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Atlassian Suite 
          li Scrum 
          li Agile 
          li Leadership 
          li Software Testing
          li Adobe Creative Suite
          li Jira, BitBucket, Bamboo
          li Figma

        h6 Contact Info
        ul
          li 757-532-6734
          li jess.dobs@gmail.com

        a.btn-link(href='https://www.linkedin.com/in/jessie-dobson-395818107') LinkedIn
        a.btn-link(href='https://github.com/dobflob') GitHub
        a.btn-link(href='https://www.instagram.com/shades26') Instagram

    nav.nav
      a(href='/')
        span &larr;
        |  Back