extends layout.pug

block content
  article.portfolio-intro
    h1 Hello, Adventurer
    
    p Welcome to my portfolio project! Here we have a sampling of what I've completed during my Treehouse Tech Degree learning, demonstrating my understanding of Node.js/Express.js, template rendering, and serving static files.

    p Take a look around, make yourself at home, and don't forget to visit the github repo for each project to get to know a little more about my coding style and skills. I'd love do something cool together!

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects 
        .cell 
          a(href=`/projects/${project.id}`, title=`View ${project.project_name}'s Project Page`)
            img.thumbnail(src=`${project.image_urls[0].img}`)
            h5 #{project.project_name}